github "duemunk/Async"
github "thoughtbot/Argo"
github "thoughtbot/Curry"
github "ReactiveX/RxSwift" ~> 2.0
github "soffes/Crypto" "v0.3.0"
github "Square/SuperDelegate" "0.8.0"
github "onevcat/Kingfisher" ~> 2.4
